.App {
  height:100%;
  width:100vw;

  background-color: rgb(249, 242, 201);

  font-family :'Times New Roman', Times, serif
}

.form-input {
  border-radius: 5px;
  text-decoration: none;
  border:none;
  background-color: white;

  padding:10px;
  margin:15px;
  width:200px;
}

.form-submit-btn {
  text-decoration: none;
  border-radius: 5px;
  border:none;
  background-color: lightpink;

  padding:10px;
  margin:15px;
  width:220px;

  font-weight:600;
  font-size:15px;
}

.form-error-msg{
  color:red;
  margin:0px;
  font-size: 18px;
}

button:hover{
  cursor:pointer;
  color: purple;
}

button:active{
  transform: scale(0.9);
}

input:hover{
  cursor:auto;
}
