.organiser-login-wrapper {
    height:100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organiser-login-modal {
    height:350px;
    width:max-content;

    background-color: rgb(188, 218, 228);
    border:50px solid transparent;
    border-image:url("./../../../Assets/flower-border.jpg") 60 repeat;

    padding:5em;



    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.organiser-login-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

