.guest-modal {
    height:700px;
    width:750px;
    background-image:url("./../../../Assets/Wedding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:blur(3px);

    display:flex;
    
}