.nav {
    height:5rem;
    width:max-content;

    margin:10px;

    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
}

.link > a > h2 {
    margin:15px;
    font-size:1rem;
    color:black;
}

.link > a > h2:hover{
    color:brown;
}

.nav-btn {
    background-color: transparent;
    text-decoration: none;
    border: none;

    font-size:1rem;
    font-family :'Times New Roman', Times, serif;
    font-weight: 700;
    margin:15px;
    color:black;
}

.nav-btn:hover {
    color:brown;
}