.edit-icon {
    height:1em;
    margin-left:5px;
    padding-bottom: 0px;
    margin-top:15px;
}

.edit-header-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.edit-header-container>h2{
    text-decoration: underline;
    margin-bottom:0px;
}

